/bin/FF010_from mp4_otter_ai.srt
/bin/FF019_otter_ai.srt
/bin/FF031_otter_ai (1).srt
/bin/FF136_otter_ai.srt
/bin/FF137_otter_ai.srt
/bin/FF139_otter_ai.srt
/bin/FF140_otter_ai.srt
/bin/FF142_Amplified_otter_ai.srt
/bin/FF145_Amplified_otter_ai.srt
/bin/FF146_otter_ai.srt
/bin/FF148_otter_ai.srt
/bin/FF149_otter_ai.srt
/bin/FF152_otter_ai.srt
/bin/FF153_otter_ai.srt
/output-tsv/FF010_from mp4_otter_ai.tsv
/output-tsv/FF019_otter_ai.tsv
/output-tsv/FF031_otter_ai (1).tsv
/output-tsv/FF136_otter_ai.tsv
/output-tsv/FF137_otter_ai.tsv
/output-tsv/FF139_otter_ai.tsv
/output-tsv/FF140_otter_ai.tsv
/output-tsv/FF142_Amplified_otter_ai.tsv
/output-tsv/FF145_Amplified_otter_ai.tsv
/output-tsv/FF146_otter_ai.tsv
/output-tsv/FF148_otter_ai.tsv
/output-tsv/FF149_otter_ai.tsv
/output-tsv/FF152_otter_ai.tsv
/output-tsv/FF153_otter_ai.tsv
/main.py
/output.tsv
/sample-rename.py
/speakerlist.csv
/speakerlist-old.csv
/bin/
/venv/
/input-srt/bin/
/input-srt/MAF Interview - Tape 1, Side A_otter_ai.srt
